@charset "utf-8";

body {
    padding-top: 80px;
    color: #FFFFFF;
    font-family: "system-ui";
    background-color: #151820;
}

main.error,
main.result,
main.support,
main.contact,
main.thank_you {
    padding-left: 40px;
    padding-right: 10px;
    font-size: 25px;
}

button,
input.submit {
    font-family: inherit;
    border-radius: 8px;
    background: #666;
    padding: 8px 14px;
}

#attachment label {
    display: inline-block;
    position: relative;
    background: #666;
    color: #fff;
    font-size: 16px;
    padding: 10px 18px;
    border-radius: 4px;
    transition: all 0.3s;
}

#attachment label input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

input[type="file"] {
    display: none;
}

img {
    max-width: 90%;
    width: 400px;
}

table {
    max-width: 100%;
    width: 40%;
    font-size: 14px;
}

th {
    padding: 5px 0px 2px 10px;
}

td {
    padding: 0px 0px 2px 10px;
}

div.graph {
    max-width: 90%;
    width: 400px;
}

#checkbox p {
    display: none;
    font-size: 20px;
}

#checkbox input[type="checkbox"]:not(:checked)+p {
    display: block;
}

summary{
    position: relative;
    list-style: none; 
    padding: 15px 45px 15px 25px;
    border:1px solid #FFFFFF;
    cursor: pointer; 
}

summary::-webkit-details-marker {
    display: none;
}

summary::after{
    position: absolute;
    width: 15px;
    height: 15px;
    top: calc(50% - 10px);
    right: 25px;
    border-right: 4px solid #FFFFFF;
    border-bottom: 4px solid #FFFFFF;
    box-sizing: border-box;
    content: "";
    transform: rotate(45deg);
    transition: top 0.4s ease-out, transform 0.4s ease-out;
}

details[open] summary::after{
    top: calc(50% - 5px);
    transform: rotate(-135deg);
}

/* 円グラフの上にスコアを表示する */
.score-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.score-circle {
    display: inline-block;
    margin-top: 20px;
    width: 40vw;
    height: 40vw; 
    border-radius: 50%; /* 完全な円にする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #0c0c0c;
    text-align: center;
}
.score-red {
    background-color: red;
}
.score-yellow {
    background-color: yellow;
}
.score-green {
    background-color: green;
}
.score-gray {
    background-color: gray;
}

