{% extends "layout.html" %}
{% block content %}
<main class="outline">
<h1>セキュアチェッカーとは</h1>

<p>セキュアチェッカーは、インターネット上の様々な要素の安全性を簡単に確認できるオンラインツールです。
WEBサイトのURL、ファイル、IPアドレス、ドメインなど、デジタル世界で日常的に遭遇する要素の安全性を迅速かつ効率的に評価します。</p>

<h2>使用技術</h2>
<p>セキュアチェッカーは、信頼性の高い結果を提供するため、VirusTotalのAPIを利用しています。</p>

<h2>主な機能</h2>
<p>1. URL検査: WEBサイトのURLを入力するだけで、そのサイトの安全性やサイトのスクリーンショットを確認することができます。</p>
<p>2. ファイルスキャン: アップロードしたファイルのマルウェアチェックを行います。
    また、ファイルのハッシュ値を送信することも可能です。(ハッシュ値とは→Q&A参照)</p>
<p>3. IPアドレス分析: 特定のIPアドレスの評判や関連する脅威情報を提供します。</p>
<p>4. ドメイン評価: ドメイン名の安全性やIPアドレスを確認できます。</p>

<h2>使い方</h2>
<p>1. トップページから、確認したい項目欄に（URL、ファイル、IPアドレス、ドメイン、ファイルのハッシュ値）を入力します。</p>
<p>2. 送信ボタンをクリックすると、検査が開始されます。</p>
<p>3. 数秒後、詳細な安全性レポートが表示されます。</p>


<h2>利用上の注意</h2>
<p>•    本ツールは100%の安全性を保証するものではありません。最終的な判断は利用者の責任で行ってください。</p>
<p>•    個人情報や機密情報を含むファイルのアップロードは避けてください。</p>
<p>•    結果の解釈に不安がある場合は、専門家に相談することをおすすめします。</p>
</main>
{% endblock %}