{% extends "layout.html" %}
{% block content %}
<main class="support">
    <h1>Q&A</h1>
    <h3>Q: コミュニティスコアとは何ですか</h3>
    <p>A: ユーザーからの報告やフィードバックを基にした評価であり、過去にどのように評価されているかを示します。</p>
    <p>正の値ならば安全、負の値ならば危険です。</p>
    <p>0ならば評価がないため、リスクを判断するには情報不足です。</p>
    <p>絶対数が大きいほど信頼できます。</p>
    <br>
    <h3>Q: AS(Autonomous System,自律システム)とは何ですか</h3>
    <p>A: 特定の管理者や組織によって運営されている、インターネット上で独立して運用されるネットワークの集まりです。</p>
    <p>AS名:各自律システムに付与された人間が理解しやすい名前であり、通常は組織名やサービス名が含まれています。</p>
    <p>AS番号:各自律システムにユニークに割り当てられるユニークな番号であり、インターネットのルーティングにおいて各ASを識別する際に使用されます。</p>
    <br>
    <h3>Q: マルウェアホスティングとは何ですか</h3>
    <p>A: 悪意のあるソフトウェア（マルウェア）をインターネット上で配布するために使用されるサーバーやウェブサイトです。</p>
    <br>
    <h3>Q: CIDR(Classless Inter-Domain Routing)とは何ですか</h3>
    <p>A: IPアドレスをクラスに依存せず効率的に表現する方法です。</p>
    <br>
    <h3>Q: ハッシュ値とは何ですか</h3>
    <p>A: 特定のファイルから生成される一意の固定長の文字列で、同じファイルなら常に同じハッシュ値を持ちますが、内容が少しでも異なると、全く別のハッシュ値になります。
        ハッシュ値からファイルに復元することはできません。</p>
    <br>
    <h3>Q: なぜファイルをハッシュ値に変換したほうがよいのですか</h3>
    <p>A: VirusTotalは、他の人がアップロードしたファイルをダウンロードすることができるため、ハッシュ値に変換せずに送信すると、
        第三者にファイルの情報を見られる可能性があります。</p>
    <br>
</main>
{% endblock %}