{% extends "layout.html" %}
{% block content %}
<main class="support">
    <h1>Q&A</h1>
    <h3>Q: 独自のスコアはどのように算出していますか</h3>
    <p>A: </p>
    <h3>Q: コミュニティスコアとは何ですか</h3>
    <p>A: ユーザーからの報告やフィードバックを基にした評価であり、過去にどのように評価されているかを示します。
    正の値ならば安全、負の値ならば危険です。
    0ならば評価がないため、リスクを判断するには情報不足です。
    絶対数が大きいほど信頼できます。</p>

    <h3>Q: AS(Autonomous System,自律システム)とは何ですか</h3>
    <p>A: 特定の管理者や組織によって運営されている、インターネット上で独立して運用されるネットワークの集まりです。</p>
    <p>AS名:各自律システムに付与された人間が理解しやすい名前であり、通常は組織名やサービス名が含まれています。</p>
    <p>AS番号:各自律システムにユニークに割り当てられるユニークな番号であり、インターネットのルーティングにおいて各ASを識別する際に使用されます。</p>
    <h3>Q: マルウェアホスティングとは何ですか</h3>
    <p>A: 悪意のあるソフトウェア（マルウェア）をインターネット上で配布するために使用されるサーバーやウェブサイトです。</p>
    <h3>Q: CIDRとは何ですか</h3>
    <p>A:</p>
    <h3>Q: ハッシュ値とは何ですか</h3>
    <p>A:</p>
    <h3>Q: なぜファイルをハッシュ値に変換したほうがよいのですか</h3>
    <p>A:</p>
</main>
{% endblock %}